<div *ngIf="product.title"
     class="card">

  <!-- Card Image -->
  <img class="card-img-top"
       [src]="product.imageUrl"
       alt="{{ product.title }}"
       *ngIf="product.imageUrl">

  <!-- Card Body -->
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency}}</p>
  </div>

  <!-- Card Footer -->
  <div class="card-footer"
       *ngIf="showActions && shoppingCart">
    <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product"
                            [shoppingCart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>