<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">

    <a class="navbar-brand"
       routerLink="/">
      <span><i class="fa fab fa-envira"></i></span>
      Oraniconomy
    </a>
    <button (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navContent"
            aria-controls="navContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="!isCollapsed"
         class="collapse navbar-collapse"
         id="navContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/shopping-cart">
            <i class="fa fas fa-shopping-cart mr-3"></i>
            <span class="badge badge-pill badge-warning"
                  *ngIf="cart$ | async as cart">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-template #annonymousUser>
          <li class="nav-item">
            <a class="nav-link"
               *ngIf="!(user$ | async)"
               routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li class="nav-item dropdown">
          <div ngbDropdown
               *ngIf="appUser; else annonymousUser"
               class="d-inline-block">
            <a class="nav-link dropdown-toggle pull-left"
               id="username"
               ngbDropdownToggle>{{ appUser.name}}</a>
            <div ngbDropdownMenu
                 aria-labelledby="Username">
              <a class="dropdown-item"
                 routerLink="my/orders">My Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item"
                   routerLink="admin/orders">Manage Orders</a>
                <a class="dropdown-item"
                   routerLink="admin/products">Manage Products</a>
              </ng-container>
              <a class="dropdown-item"
                 (click)="logout()">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>