@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #a1ba30 !important;
}

.loading {
  position: absolute;
  top: 35%;
  left: 50%;
  margin: auto;
}

@media (max-width: 400px) {
  .loading {
    position: absolute;
    top: 45%;
    left: 35%;
    margin: auto;
  }
}
